<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="navigateToReminder()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!reminderList.length">
    <img src="assets/images/clock.png" />
    <span>
      You don't have any reminders created. 
      Start by clicking on the add button.
      </span>
  </div>
  <ion-list>
    <ion-item (click)="gotoDetails(item)" *ngFor="let item of reminderList; let i = index" 
    [style.background]="backgroundColors[i]">
      <span>{{item.getDateDate() | date:'yMMMd'}} to {{item.endDate}}</span>
      <h1>{{item.name | uppercase}}</h1>
      <progress-bar 
        [min]="0" 
        [max]="item.getTotalDays()" 
        [progress]="item.getLapsedDays()" 
        [avatar]="item.avatar">
      </progress-bar>
    </ion-item>
  </ion-list>
</ion-content>